{% extends "base.html" %}

{% block content %}
<div class='container mx-auto px-4 py-4 flex justify-center'>
    <div class="input-box bg-gray-800 p-10 rounded-lg">
        <form method='post' action='/create_thought' id="thought-form">
            {% csrf_token %}
            <div class="mb-4">
                <label for="topic" class="block text-white font-bold mb-2">Topic</label>
                <input type="text" name="topic" class="form-control block w-200 h-12 p-2 rounded-md border border-gray-600 bg-gray-900 text-white" id="topic" placeholder="What do you want to talk about?" required>
            </div>
            <div class="mb-4">
                <label for="desc" class="block text-white font-bold mb-2">Thoughts</label>
                <input type="text" name="desc" class="form-control block w-100 p-2 rounded-md border border-gray-600 bg-gray-900 text-white" id="desc" placeholder="Spill it out" required>
            </div>
            <button type='submit' class='bg-gray-800 hover:bg-gray-700 text-white font-bold px-4 rounded border 2px solid black'>Submit</button>
        </form>
        <form method='post' action='/random_thoughts'>
            {% csrf_token %}
        <button type='submit'class='bg-gray-800 hover:bg-gray-700 text-white font-bold px-5 rounded border-2 border-black mt-4'>Random thought</button>
        </form>
    </div>
</div>
{% endblock %}
